<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>About</title>
    <link rel="stylesheet" href="/stylesheets/about.css" />
  </head>
  <body>
    <h1>Who is Jim Carrey</h1>
    <p>James Eugene Carrey; born January 17, 1962</p>
    <p>He is a Canadian-American actor, comedian, producer, author, and artist</p>
    <p>Very known for his energetic slapstick performances</p>
    <img src="/images/Jim_Carrey_1.jpg" />
    <br>
    <a href="/home">Go back to home page</a>
  </body>
</html>