<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Photo_Gallery</title>
    <link rel="stylesheet" href="/stylesheets/photo_gallery.css" />
  </head>
  <body>
    <h1 id="text">Some photos from the actor</h1>
    <p>1986</p>
    <img id="image1"src="/images/Jim_Carrey_1986.jpeg" />
    <p>2006</p>
    <img id="image2"src="/images/Jim_Carrey_2006.jpg" />
    <p>TODAY</p>
    <img id="image3"src="/images/Jim_Carrey_today.jpg" />
    <a id="Bruce_photo" href="/home">Go back to home page</a>
  </body>
</html>