body {
    background-color: rgba(161, 161, 168, 0.5);
}


body img {
  width: 50%;
  position: absolute;
  margin-left: 120px;
  margin-top: -50px;
  border: 10px;
  border-style:solid;
  border-color: rgb(13, 13, 150);

}
 h1 {
    color: rgb(13, 13, 150);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 }

 a {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(13, 13, 150);
 }